@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}


<form asp-controller="RouteMixing" asp-action="Index" method="post">
    <div>
        <label>Name:</label>
        <input name="id" type="text"/>
    </div>

    <input type="submit" value="Save"/>
</form>

<div class="alert-success">@ViewBag.Message</div>
